{{#extends 'base'}}

{{#block 'content'}}
<h1>List a new Camera Product</h1>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    {{{form}}}
    <input type="submit" value="Add Camera" class="btn btn-primary"/>
</form>
{{/block}}

{{/extends}}